<div style="padding-top: 70px; padding-left: 5%; padding-right: 5%;">
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cart">Cart</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="detail-container" fxLayout="column">
        <img src="{{product.img}}" height="400" width="300">
        <h1>{{product.name}}</h1>
        <h3>{{product.price}} $</h3>
        <h4>{{product.description}}</h4>
        <app-add-cart (onAdd)="addToCart($event)"></app-add-cart>
    </div>
</div>